<footer class="footer mt-auto py-3">
  <div id="inner">
    <h2>CONTACT US</h2>
    <br>
    <p>&nbsp;</p>
      <blockquote class="twitter-tweet">
        <p lang="ja" dir="ltr">こちらのアカウントをフォローしておくと<br>新規募集が投稿された際に<br>自動的にツイートしてくれますー<br><br>バグ報告やご要望等のお問い合わせは<br>こちらのアカウントに連絡お願いします〜</p>&mdash; 被験者募集告知 (@recruit_rits) 
        <a href="https://twitter.com/recruit_rits/status/1364526642845134848?ref_src=twsrc%5Etfw">February 24, 2021</a>
      </blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <br>
      <span class="text-muted">
        <small>2021 Masato Yagi. All Rights Reserved.
          <%= image_tag 'footer_icon.png', :size => '24x24' %>
          Images: <a href="https://unsplash.com">Unsplash</a>
        </small>
      </span>

  </div>
</footer>
