@import "trix";

/*
 *= require_tree .
 *= require_self
 */
.trix-button--icon-undo,
.trix-button--icon-redo,
.trix-button-group--history-tools { display: none; }

@import "bootstrap";

// ログイン画面
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュスタイル
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// ヘッダー
.navbar {
  // margin-top: 10px;
}

#header-caption{
  font-size: 10px;
  margin: 0;
}
