@import "trix";

/*
 *= require_tree .
 *= require_self
 */
.trix-button--icon-undo,
.trix-button--icon-redo,
.trix-button-group--history-tools { display: none; }

@import "bootstrap";

// ログイン画面
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュスタイル
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

a {
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
}

.container {
  padding-top: 15px;
}


#header-caption {
  font-weight: 600;
  font-size: 1.25em;
}

#banner {
  background-image: image-url("banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top: 0;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}

#banner:after {
  transition-delay: 1.25s;
  content: '';
  display: block;
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

body {
  color: #fff;
  background-color: #000;
}

a {
  color: #fff;
}

small {
  color: #fff;
}

.card {
  background-color: rgb(85, 89, 92);
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}

.post .more.current {
  -moz-transition: height 0.2s ease;
  -webkit-transition: height 0.2s ease;
  -ms-transition: height 0.2s ease;
  transition: height 0.2s ease;
  -moz-animation: more 0.75s ease-out 2s forwards;
  -webkit-animation: more 0.75s ease-out 2s forwards;
  -ms-animation: more 0.75s ease-out 2s forwards;
  animation: more 0.75s ease-out 2s forwards;
}

.trix-button {
  background-color: #fff !important;
}

footer {
  background-color: #310606;
  color: #fdd1d1;
  padding: 6em 0 4em 0;
  background: #F64747;
  text-align: center;
}

.twitter-tweet {
  margin: 0 auto;
}